/* ==========================================================================
   REVIEW.HTML PAGE
   ========================================================================== */

.sectionFAQ, .sectionHotQuestions {
	margin-top: 40px;
}

.hotQuestions .tabs,
.hotQuestions .toggle-list-container > p {
	display: none;
}

.hotQuestions .react_TabWidget .toggle-list-container {
	box-shadow: none;
	padding-top: 0;
	padding-left: 0;
	left: 0;
	width: 100%;
}

.questionContacts {
	background-image: url(../img/question_pad.png);
	background-repeat: no-repeat;
	margin: auto;
	height: 100%;
	background-size: 100%;
	padding: 45px;
}

.questionContacts p {
	color: #fff;
	font-size: 25px;
	margin: -5px 0;
}

.questionContacts__separator {
	display: block;
	background-color: #fff;
	border-radius: 5px;
	height: 6px;
	width: 90px;
	margin: 18px 0;
}

.questionContacts .text_12px {
	font-size: 12px;
}

.questionContacts .text_16px {
	font-size: 16px;
}

.react_TabWidget {
    color: #676767;
}

.reactTabWidget .react_TabWidget .tabs {

}

.react_TabWidget .tabs .react_TabItem {
	display: inline-block;
	padding: 0 20px;
	text-align: left;
	transition: background 0.2s ease, box-shadow 0.2s ease;
	cursor: pointer;
	height: 60px;
	position: relative;
	box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.1);
	border-top-left-radius: 7px;
	margin-left: 30px;
}

.react_TabWidget .tabs .react_TabItem:first-child {
	margin-left: 0 !important;
}

.react_TabWidget .tabs .react_TabItem::after {
	content: '';
	display: inline-block;
	position: absolute;
	background-image: url(../img/tab_corner.png);
	height: 66px;
	width: 40px;
	bottom: 0;
	right: -40px;
	z-index: 1;
}

.react_TabWidget .tabs .react_TabItem div {
	font-size: 16px;
	line-height: 18px;
	margin: 20px -15px 20px 0px;
}

.react_TabWidget .tabs .react_TabItem:hover {
    margin-bottom: 0;
}

.react_TabWidget .tabs .react_TabItem.selected {
	color: #ffb836;
}

.react_TabItem.selected::before {
	content: '';
	width: calc(100% + 27px);
	display: block;
	position: absolute;
	height: 9px;
	background-color: #fff;
	bottom: -3px;
	left: 0;
	z-index: 3;
	box-shadow: 1px 0px 6px 0px #fff;
}

.react_TabWidget .toggle-list-container {
	box-shadow: 0px -11px 15px -14px #0000007d;
	padding-left: 140px;
	left: -140px;
	width: calc(100% + 140px);
	position: relative;
	padding-top: 30px;
	z-index: 2;
	background-color: #fff;
}

.react_TabWidget .toggle-list-container > p {
	color: #979797;
	font-size: 12px;
}

.react_TabWidget ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.react_TabWidget ul li {
	background-color: #fff;
	position: relative;
	margin: 15px 0;
	border-radius: 10px;
}

.react_TabWidget li:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 67px;
	background-color: #f6f6f6;
	z-index: -1;
	top: -3px;
	border-radius: 10px;
	box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.1);
}

.react_TabWidget li:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 27px;
	background-color: transparent;
	z-index: 0;
	top: 38px;
	border-radius: 10px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.react_TabWidget ul li .toggle_trigger {
	width: 15px;
	height: 15px;
	background-color: #dfdfdf;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	float: right;
	margin-top: 24px;
	margin-right: 20px;
}

.react_TabWidget ul li .toggle_trigger:after {
	position: absolute;
	content: '';
	background-color: #fff;
	width: 1px;
	height: 6px;
	right: 5px;
	top: 5px;
	transform: rotate(50deg);
}

.react_TabWidget ul li .toggle_trigger:before {
	position: absolute;
	content: '';
	background-color: #fff;
	width: 1px;
	height: 6px;
	left: 5px;
	top: 5px;
	transform: rotate(-50deg);
}

.react_TabWidget ul li .toggle_trigger.closed {
    background-color: #dfdfdf;
}

.react_TabWidget ul li .toggle_trigger.closed:hover {
    cursor: pointer;
}

.react_TabWidget ul li .toggle_trigger.opened {
    background-color: #ffb836;
}

.react_TabWidget ul li .toggle_trigger.opened:after {
	transform: rotate(130deg);
}

.react_TabWidget ul li .toggle_trigger.opened:before {
	transform: rotate(-130deg);
}

.react_TabWidget ul li .toggle-item-caption {
    line-height: 65px;
    vertical-align: top;
    padding-left: 15px;
	font-size: 14px;
	color: #979797;
}

.react_TabWidget ul li .toggle_trigger.opened + .toggle-item-caption:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 299px;
	height: 67px;
	background-image: url(../img/orange_shadow.png);
	background-repeat: no-repeat;
	left: 0;
	top: 5px;
}

.react_TabWidget ul li div {
	font-size: 14px;
	background-color: transparent;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.1);
	margin-top: 0px;
}

.react_TabWidget ul li div p:first-child {
    margin-top: 0;
}

.react_TabWidget ul li div p:last-child {
    margin-bottom: 0;
}

.react_TabWidget ul li div.opened {
    opacity: 1;
    visibility: visible;
}

.react_TabWidget ul li div.closed {
    opacity: 0;
    visibility: hidden;
    max-height: 0px;
    padding: 0;
    margin: 0;
}

.react_TabWidget ul li div.closed p {
    margin: 0;
}
