/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #2b2d2f;
    font-size: 16px;
    line-height: 1.1;
    font-family: "PFBeauSansProRegular";
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


h1,h2,h3,h4,h5,h6 {
    font-family: "PFBeauSansProBold";
}

h1 {
    font-size: 50px;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Page Header */

.pageHeader {
    font-size: 30px;
    margin-top: 100px;
    text-transform: uppercase;
    color: #636363;
    margin-left: -23px;
}

.pageHeader::first-letter {
    color: #fff;
    background-color: #ffb836;
    border-radius: 35px;
    margin-right: 2px;
    padding: 9px 7px 9px 40px;
}


.pageDescription {
    color: #7c7c7c;
    font-size: 14px;
    padding-top: 15px;
    line-height: 15px;
}

/* end page header */

/* section header */

.sectionHeader {
    color: #4d4d4d;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "PFBeauSansProRegular";
}

.sectionDescription {
    color: #4d4d4d;
    font-size: 12px;
}


/* end section header */

.mainHeader {
    padding-top: 97px;
}

.menuScroll {
    left: 0;
    right: 0;
    top: 0;
    background-image: url(../img/header.png);
    background-repeat: repeat-x;
    z-index: 100000;
}

.mainHeaderMenu {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-family: "PFBeauSansProSemiBold";
}

.mainHeaderMenu__listItem {
    display: inline-block;
    vertical-align: middle;
} 

.mainHeaderMenu__listItem:after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    vertical-align: middle;
    margin: 0 10px 0 14px;
}

.mainHeaderMenu__listItem:last-child:after {
    display: none;
}

.mainHeaderMenu__linkItem {
    color: #dbdbdb;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    padding: 38px 0;
}
.mainHeaderMenu__linkItem:hover {
    text-decoration: none;
    color: #ffb836;
}
.mainHeaderMenu__linkItem:after {
    content: '';
    position: absolute;
    top: -7px;
    left: -15px;
    right: -15px;
    height: 7px;
    border-radius: 0 0 10px 10px;
    background-color: #ffb836;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mainHeaderMenu__linkItem:hover:after {
    top: 0;
}



.bottomHeaderMenu {
    position: relative;
}
.bottomHeaderMenu:after {
    position: absolute;
    border-radius: 0 0 10px 0;
    content: '';
    background-color: #fff;
    box-shadow: -4px 6px 9px rgba(157, 157, 157, 0.1);
    bottom: -45px;
    height: 45px;
    width: 30%;
}

/*Logo header*/

.logo.headerLogo {
    padding-top: 55px;
    position: relative;
}

.headerLogo:after {
    position: absolute;
    content: '';
    right: 10px;
    bottom: -50px;
    width: 80px;
    height: 240px;
    border-radius: 60px;
    transform: rotate(20deg);
    background-color: #fff;
    box-shadow: 8px -1px 18px rgba(157, 157, 157, 0.1);
}
.headerLogo:before {
    position: absolute;
    content: '';
    left: 0;
    right: 37px;
    bottom: -45px;
    height: 45px;
    background-color: #fff;
    box-shadow: 3px 6px 5px rgba(157, 157, 157, 0.1);
    border-radius: 0 0 65px 0;
}

/*Logo header*/

/*Lang header*/

.headerLang {
    display: inline-block;
    vertical-align: middle;
    padding-top: 45px;
}

.headerLang__langName, 
.headerLang__langImg {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1;
}

.headerLang__langName {
    margin-left: 5px;
}

.headerLang__langName p {
    color: #ffb836;
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}

.headerLang__langBtn {
    display: inline-block;
    margin-left: 17px;
}

.checkbox {
    width: 15px;
    height: 15px;
    background-color: #dfdfdf;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.checkbox:after {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 1px;
    height: 6px;
    right: 5px;
    top: 5px;
    transform: rotate(50deg);
}

.checkbox:before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 1px;
    height: 6px;
    left: 5px;
    top: 5px;
    transform: rotate(-50deg);
}

/*Lang header*/

/*Auth header*/

.headerAuth {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

.headerAuth__item {
    display: inline-block;
    vertical-align: middle;
    padding: 26px 12px;
    position: relative;
}

.headerAuth__item a {
    text-decoration: none;
}

.headerAuth__item:after {
    content: '';
    position: absolute;
    top: -0.5px;
    left: 0px;
    right: 0px;
    height: 0px;
    border-radius: 0 0 10px 10px;
    background-color: #ffb836;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
}

.headerAuth__item:hover .headerAuth__text p {
    color: #ffb836;
}

.headerAuth__item:hover:after {
    height: 7px;
    opacity: 1;
}


.headerAuth__imgUser {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.headerAuth__imgUser_login {
    background-position: 0px 1px;
}

.headerAuth__imgUser_reg {
    background-position: -41px -2px;
}

.headerAuth__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    color: #c0c0c0;
    font-size: 12px;
    margin-left: 5px;
}

.headerAuth__text p {
    margin: 0;
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
}


/*Auth header*/


/*section Main Home*/

.sectionMainHome {
    background-image: url(../img/homeBg.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.sliderHome {
    color: #fff;
    padding-right: 35px;
    padding-bottom: 55px;
    margin-top: 130px;
}

.sliderHome h1 {
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 1;
}

.sliderHome .slick-dots {
    text-align: left;

}

.slick-dots li {
    width: 25px;
    height: 25px;
}

.sliderHome .slick-dots li button {
    border: 4px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sliderHome .slick-dots li button:before {
    display: none;
}

.sliderHome .slick-dots li.slick-active button {
     border: 4px solid #fff;
}

.underSlider {
   position: relative;
   top: 40px;
}

.underSlider ul {
    padding: 0;
    background-color: #ffb836;
    position: relative;
    z-index: 100;
}

.underSlider ul:before {
    position: absolute;
    content: '';
    left: -411px;
    width: 412px;
    height: 100%;
    background-color: #ffb836;
    top: 0;
}

.underSlider ul:after {
    content: '';
    position: absolute;
    right: -44px;
    top: 0;
    background-image: url(../img/sprite.png);
    background-position: 0px -172px;
    width: 44px;
    height: 100%;
}

.underSlider ul li {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
}

.underSlider ul li:last-child {
    margin-right: 0;
}

.underSlider__link {
    color: #fff;
    display: inline-block;
    padding: 27px 0;
}

.underSlider__icon {
    margin-right: 5px;
    vertical-align: top;
    margin-top: -2px;
}

.headerInfo {
    position: relative;
    top: -30px;
}

.headerInfo__item {
    background-color: #2b2d2f;
    padding: 45px;
    font-size: 14px;
    color: #fff;
}

.headerInfo__item:first-child {
    margin-bottom: 8px;
}

.headerInfo__titleItem {
    text-transform: uppercase;
    position: relative;
}

.headerInfo__titleItem:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 55px;
    background-color: #ffb836;
}

.headerInfo__bodyItem {
    padding-top: 25px;
}

.headerVerify__img {
    width: 76px;
    height: 66px;
    background-position: -2px -43px;
    display: inline-block;
    vertical-align: middle;
}

.headerVerify__text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.headerVerify__text span {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
}

.headerVerify__text p {
    margin-bottom: 0;
    font-size: 12px;
}

.headerVerify__btn {
    margin-top: 25px;
}

.listContacts ul {
    padding: 0;
    margin: 0;
}

.listContacts__item {
    list-style-type: none;
    margin-bottom: 14px;
}
.listContacts__img {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.listContacts__img-skype {
    background-position: -98px -9px;
}
.listContacts__img-phone {
    background-position: -98px -44px;
}
.listContacts__img-email {
    background-position: -98px -79px;
}

.contactTelegram .telegram-icon {
    margin-right: 5px;
}

.contactTelegram .btn-usually {
    font-size: 12px;
    padding: 10px 18px; 
    display: inline-block;
}

.contactTelegram .btn-usually:hover {
    color: #fff;
    opacity: 0.75;
}

.contactTelegram .btn-first {
    margin-right: 5px;
}

.socialNetwork_item {
    margin-right: 10px;
    cursor: pointer;
}

.socialNetwork_item:hover {
    opacity: 0.75;
}

.socialNetwork {
    margin-top: 20px;
}

.socialNetwork p {
    margin-bottom: 10px;
}


.previewVideo {
    position: relative;
}
.previewVideo__thumbContainer.previewHome__thumbContainer {
    overflow: visible !important;
}
.previewVideo__thumbContainer.previewHome__thumbContainer img {
    border-radius: 10px;
    box-shadow: 7px 4px 12px rgba(45, 46, 47, 0.15);
}

.homePreview__title {
    top: -50px;
    line-height: 1;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    flex-basis: 35px !important;
    border-left: 2px solid #ffb836;
}

.homePreview__title p {
    margin-left: 0 !important;
}

.previewVideo__bgRect {
    position: absolute;
    width: 165px;
    height: calc(100% - 50px);
    background-color: #2d2e2f;
    left: 0px;
    bottom: 15px;
    border-radius: 35px;
    z-index: -1;
}

.titleSkew__orange.prieviewTitle {
    text-align: right;
    top: -10px;
    left: -40%;
    z-index: -1;
    padding-right: 30px;
}

.titleSkew__orange {
    background-color: #ffb836;
    font-family: "PFBeauSansProLight";
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    position: relative;
    padding: 22px 10px;
    height: 83px;
    max-width: 575px;
}

.titleSkew__orange:after {
    background-image: url(../img/sprite.png);
    background-position: -47px -240px;
    width: 57px;
    height: 83px;
    content: '';
    position: absolute;
    right: -50px;
    top: 0;
}

.titleSkew__orange:before {
    background-image: url(../img/sprite.png);
    background-position: -47px -240px;
    width: 57px;
    height: 83px;
    content: '';
    position: absolute;
    left: -50px;
    top: 0;
    transform: rotate(-180deg);
}

.titleSkew__orange .circleWhite-icon {
    margin-right: 15px;
    margin-bottom: 3px;
}

.previewVideoHome {
    padding-left: 15px;
}

.previewVideoHome .previewVideo__thumbContainer {
    height: 310px;
}

.previewText {
    color: #8d8d8d;
    font-size: 13px;
    line-height: 1.1;
    position: relative;
    top: 5px;
    padding-left: 20px;
}
.previewText p {
    margin-bottom: 14px;
}

.previewText .btn-grey {
    margin-top: 10px;
    font-size: 14px;
    font-family: "PFBeauSansProLight";
}

.previewText button {
    outline: none;
}

.sectionHeaderSquare {
    font-size: 30px;
    padding-top: 40px;
    text-transform: uppercase;
    color: #636363;
}

.previewVideoHome .previewVideo__top {
    left: -20px;
}

.sectionHeaderSquare::first-letter {
    color: #fff;
    background-color: #ffb836;
    border-radius: 10px;
    margin-right: 2px;
    padding: 4px 12px 4px 12px;
}
.sectionDescription {
    color: #7c7c7c;
    font-size: 14px;
    padding-top: 15px;
    line-height: 15px;
}

/*section Main Home*/



/*section Step*/

.stepContainer {
    padding-top: 40px;
}

.stepNumbers ul {
    padding: 0;
    margin: 0;
}

.stepNumbers ul li {
    display: block;
    list-style-type: none;
    margin-bottom: 50px;
}
.stepNumbers ul li:last-child {
    margin-bottom: 0;
}

.stepNumbers ul li .stepNumbers__text {
    color: #d8d8d8;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.stepNumbers ul li .stepNumbers__number {
    display: inline-block;
    border-radius: 50%;
    background-color: #d8d8d8;
    color: #fff;
    font-size: 20px;
    width: 45px;
    height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: "PFBeauSansProBold";
    padding: 7px 0;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.stepNumbers ul li .stepNumbers__number:after {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 25px;
    bottom: -25px;
    left: 21px;
    background-color: #d8d8d8;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.stepNumbers ul li .stepNumbers__number:before {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 25px;
    top: -25px;
    left: 21px;
    background-color: #d8d8d8;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.stepNumbers ul li:first-child .stepNumbers__number:before {
    display: none;
}
.stepNumbers ul li:last-child .stepNumbers__number:after {
    display: none;
}

.stepNumbers ul li.active .stepNumbers__number {
    background-color: #ffb836;
}
.stepNumbers ul li.active .stepNumbers__text {
    color: #ffb836;
}
.stepNumbers ul li.active .stepNumbers__number:before {
    background-color: #ffb836;
}
.stepNumbers ul li.active .stepNumbers__number:after {
    background-color: #ffb836;
}

.sliderStep__title {
    font-size: 20px;
    color: #636363;
    position: relative;
    padding-bottom: 15px;
    font-family: "PFBeauSansProSemiBold";
    font-weight: 300;
}

.sliderStep__title:after {
    content: '';
    position: absolute;
    background-color: #ffb836;
    height: 2px;
    width: 140px;
    border-radius: 1px;
    bottom: 0;
    left: 0;
}

.sliderStep__number {
    color: #c6c6c6;
    padding-bottom: 15px;
}

.sliderStep__text {
    padding-top: 15px;
    color: #8b8b8b;
    font-size: 12px;
    line-height: 1.1;
}
.sliderStep__text p {
    margin-bottom: 15px;
}

.sliderSteps {
    max-width: 550px;
    margin: auto;
    position: relative;
    padding-top: 25px;
}

.sliderStepImg {
    max-width: 100%;
}

.sliderStepImgSlider  {
    position: relative;
    top: 15%;
}


.stepSlider__prevArr {
    background-image: url(../img/sprite.png);
    width: 12px;
    height: 15px;
    background-position: -313px -35px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    transform: rotate(-180deg);
    top: 0;
    z-index: 100;
}

.stepSlider__nextArr {
    background-image: url(../img/sprite.png);
    width: 12px;
    height: 15px;
    background-position: -313px -34px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0px;
    z-index: 100;
}
.stepSlider__prevArr:hover {
    background-position: -301px -34px;
    transform: rotate(0deg);
    top: 0px;
}
.stepSlider__nextArr:hover {
    background-position: -301px -35px;
    transform: rotate(-180deg);
    top: 0px;
}

.sliderStep__button button {
    border: 1px solid #e5e5e5;
    color: #6a6a6a;
    font-size: 12px;
    border-radius: 12px;
    background-color: transparent;
    padding: 12px 22px;
    margin-top: 10px;
}

.sectionSteps {
    padding-bottom: 45px;
}

/*section Step*/



/*Footer*/

.FooterPaymentsOrange {
    background-color: #ffb836;
    position: relative;
}

.topFooterBar__title {
    background-color: #2c2f31;
    color: #fff;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    line-height: 1;
    padding: 28px 10px;
    text-transform: uppercase;
}

.topFooterBar__title:after {
    width: 70px;
    height: 100%;
    background-image: url(../img/sprite.png);
    background-position: -123px -222px;
    display: block;
    content: '';
    top: 0;
    right: -69px;
    position: absolute;
}

.topFooterBar__title b {
    display: block;
    font-size: 24px;
    font-family: "PFBeauSansProBold";
}

.topFooterBar__title span {
    display: block;
    font-size: 20px;
    font-family: "PFBeauSansProLight";
}

.topFooterBar__payments {
    padding: 24px 20px 24px 0px;
    text-align: right;
    position: relative;
}

.topFooterBar__payments:after {
    position: absolute;
    right: -70px;
    top: 0;
    width: 90px;
    content: '';
    background-image: url(../img/sprite.png);
    height: 100%;
    background-position: -195px -218px;
}

.topFooterBar__payments img {
    width: calc(100% - 180px);
}

/*Footer*/

/* ==========================================================================
   Helper classes
   ========================================================================== */


.sectionShadow {
    position: relative;
    padding-bottom: 40px;
}

.sectionShadow:after {
    background-image: url(../img/shadowSection.png);
    height: 20px;
    content: '';
    width: 100%;
    bottom: -20px;
    position: absolute;
    background-size: 100%;
    left: 0;
    right: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -1px;
}



.btn-black {
    background-color: #0e1518;
    color: #fff;
}

.btn-usually {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.btn-grey {
    border-radius: 12px;
    color: #fff;
    background-color: #d8d8d8;
    padding: 12px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}



a.btn-usually:hover {
    text-decoration: none;
}


.btn-orange {
    background-color: #ffb836;
    color: #fff;
}

.spriteMain {
    background-image: url(../img/sprite.png);
}

.padding_null {
    padding: 0 !important;
}

.paddingLeft_null {
    padding-left: 0 !important;
}

.fixed {
    position: fixed;
}

.hidden {
    display: none !important;
}


/*Icons*/

.telegram-icon {
   width: 22px;
   height: 22px;
   display: inline-block;
   vertical-align: middle;
   background-position: -124px -9px;
}

.twitter-icon {
    background-position: -164px -8px;
    width: 20px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
}

.google-icon {
    background-position: -198px -8px;
    width: 20px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
}

.facebook-icon {
    background-position: -230px -8px;
    width: 20px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
}

.document-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: -2px -128px;

}

.miniLogo-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: -31px -128px;

}
.reward-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: -60px -128px;

}
.privacy-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: -89px -128px;

}

.circleWhite-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-position: -335px -9px;
}

.arrowRight-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    background-position: -4px -301px;
}


/*Icons*/


/*Font sizes*/

.fontSize_12px {
    font-size: 12px;
}

.fontSize_20px {
    font-size: 20px;
}

/*font sizes*/


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 2000px) {
    
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
